.progress {
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(211, 211, 211, 0.591);
  }
  
  .coloredBar {
    background-color: #0162E0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .progressCount {
      font-size: 1.2rem;
  }

  h1 {
    font-family: "Anton", sans-serif;
    font-size: 2.5rem;
    padding-left: 50px;
  }