.container-fluid {
  display: none;
}

.bi {
  display: none;
  color: white;
  cursor: pointer;
}

.bi-suit-heart {
  color: #0162e0;
}

@media screen and (max-width: 781px) {
  .bi {
    display: inline-flex;
  }

  .container-fluid {
    position: fixed;
    bottom: 0;
    display: flex;
    height: 60px;
    background-color: #0162e0;
  }

  .heartCircle {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin-top: -20px;
    border: 4px solid #0162e0;
  }
}
