.meta {
  color: #0162e0;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  padding-left: 50px;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
  text-align: start;
  padding-left: 50px;
}

p {
  font-size: 1.5rem;
  text-align: start;
  padding-left: 50px;
}

.btn {
  margin-left: 50px;
}

.buttonText {
    color: white;
}

.firstBloc,
.secondBloc {
  margin-top: 50px;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 50px;
  }

  h2 {
    padding-left: 30px;
  }

  p {
    padding-left: 30px;
  }

  .btn {
    margin-left: 30px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  h1 {
    padding: 0;
    font-size: 3.5rem;
  }
}
